*{
    box-sizing: border-box;
    border: 10%;
}
a{
    text-decoration: none;
    font-size: 100px;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
    background-image: url(bg.png);
    height: 90vh;
    display: flex;
    flex-direction: column;
   
    justify-content: center;

}

.home a:hover span{display: none;}
.home a:hover:before {
    content: "Home";
    font-size: 100px;
    text-decoration: none;
}
.about a:hover span{display: none;}
.about a:hover:before {
 content: "About";
 font-size: 100px;
 
} 
.proj a:hover span{display: none;}
.proj a:hover:before{
    content: "Projects";
    font-size: 100px;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 45%;
    background-color: rgb(0, 4, 255);
    border: rgb(204, 0, 255);
    
}
