*{
    box-sizing: border-box;
}
#home{
    background-image: url(msupa.jpg); 

    background-color: rgb(145, 229, 180);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    font-size: 30px;    
    padding-top: 10px;
    position: absolute;
}
a:link {   
    background-color: transparent;
    text-decoration: none;  
    font-size: 30px;   
    padding: 40px;
    color: rgb(55, 156, 97);

  }
  a:visited {
    color: rgb(250, 250, 250);
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
.intro{
    display: flex;    
    justify-content: center;
    padding-top: 290px;
    color: white;
    font-size: 35px;

    
}
.int{
    display: flex;   
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 45px;
} 
.about{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}       
h3{
    font-size: 30px;
    padding-top: 30px;
    margin-left: 500px;
} 
#nav{
    display: flex;
    margin-left: 40%;
    position: absolute;
    padding-top: 10px;
}
.project{
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
    color: rgb(55, 156, 97);
}
a:link .project{
    color: rgb(55, 156, 97);
}
#contact{
 background-color: rgb(55, 156, 97); 
}

#twitter{
    color: white;
    position: relative;
    padding-left: 80px;
}
#email{
    color: white;
    position: relative;
    padding-left: 80px;
}
#git{
    color: white;
    position: relative;
    padding-left: 40px;
}
#drib{
    columns: white;
    position: relative;
    padding-left: 40px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 0.5vh;

}
.icons p{
    padding: 0;
    margin: 0.9rem 2rem;
    font-size: 1.4rem;
}
#projects{
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 3%;
}

.rock{
    height: 300px;
    width: 300px;
}
.cloc{
    height: 300px;
    width: 300px;
}
.music{
    height: 300px;
    width: 300px;
}
.clock{
    color: rgb(5, 5, 5);
}
/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px,100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background-color: white;
    padding: 20px, 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
} */
